*
{
    box-sizing: border-box;
}

::-webkit-scrollbar
{
    width: 8px;
}

::-webkit-scrollbar-track
{
    background: #f5f5f5; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
    background: #aaa;
    border-radius: 5px;
}

body 
{
    margin: 0;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
}

.background::before
{
    content: '';
    background-color: indigo;
    position: fixed;
    z-index: -1;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100vh;
    transition: linear 500ms;
}

.background
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: linear 500ms;
}

.flexb
{
    position: fixed;
    bottom: 0;    
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.template
{
    height: 130%;
    transition: all 250ms linear;
    opacity: 0;
    z-index: 1;
    transform: scale(1, 1);
}

nav
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 1.5vw 3vw;
}

[src="./images/logo.svg"]
{
    width: 3rem;
}

div.small {
    position: fixed;
    transition: all 500ms;
    background: #be302a;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    top: 1.5vw;
    left: 3vw;
}

div.big {
    transform: translateX(-3vw);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    /* margin-top: 0;
    margin-left: 0; */
    border-radius: 0;
    background: #be302a;
    z-index: 4;
    transition: all 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load
{
    color: white;
    font-size: 2.7rem;
    width: 60%;
    line-height: 1.8;
    font-weight: 600;
    letter-spacing: 0.2vw;
    opacity: 0;
    transition: all 1000ms;
}

nav .menu
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

nav .menu::after
{
    content: '/';
    margin: 1.5vw 3vw 1.5vw 0;
}

nav .menu p::after
{
    content: '/';
    margin-left: 1vw;
}

nav .menu p, nav .menu::after
{
    color: white;
}

.dd
{
    transform: rotate(-90deg);
    position: fixed;
    transform-origin: left;
    overflow: hidden;
    left: 5.5vw;
    bottom: 3vw;
}

.ddp 
{
    height: 20px;
    position: relative;
    top: 0;
    margin-bottom: 0;
    color: indigo;
    transition: color 100ms linear 400ms, top 300ms linear;
    transition-duration: 100ms;
}

/* .parent::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    mix-blend-mode: difference;
} */

.overlay
{
    position: relative;
}

/* For arrow */
.arrow
{
    width: 1.8vw;
    height: 1.8vw;
    border-top: 2px solid white;
    border-right: 2px solid white;

    position: absolute;
    /* display: inline-block; */
    top: 50%;
    right: 0;
    /* margin-right: -5px;
    margin-top: 1px; */
    transform-origin: center;
    /* opacity: 0; */
    transform: translate(-50%, -50%) rotate(45deg);
    animation: ARROWHEAD-OUT 500ms forwards;
}

.pro:hover + .arrow
{
    animation: ARROWHEAD-IN 500ms forwards;
}

@-webkit-keyframes ARROWHEAD-IN 
{
    0%  { width: 0; height: 0; opacity: 1; right: 0 }
    40%  { width: 0; height: 0; opacity: 1; right: -40px; }
    /* 65%   { width: 0; height: 0; opacity: 1; } */
    100%  { height: 1.8vw; width: 1.8vw; opacity: 1; right: -40px; }
}
  
@-webkit-keyframes ARROWHEAD-OUT 
{
    0%   { height: 1.8vw; width: 1.8vw; opacity: 1; right: -40px; }
    60%   { width: 0; height: 0; opacity: 1; right: -40px; }
    100%  { width: 0; height: 0; opacity: 0; right: 0; }
}

.headline, .pro
{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headline
{
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 50%, white 50%);
    margin-top: 3.5vw;
    width: 100%;
    text-align: center;
}

/* .pro::before, .pro:nth-child(2)::before, .pro:nth-child(3)::before, 
.pro:nth-child(4)::before, .pro:nth-child(5)::before, .pro:nth-child(6)::before,
.pro:nth-child(7)::before, .pro:nth-child(8)::before */
.in, .pro::before
{
    /* content: attr(data-text); */
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: white;
    direction: rtl;
    right: 0;
    overflow: hidden;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: linear 250ms;
}

.in
{
    width: 50%;
}

.pro::before
{
    content: attr(data-text);
    width: 0;
}

.pro:hover:before
{
    width: 100%;
    right: 0;
}

.pro
{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 10vw;
    margin: 2vw auto;
    cursor: pointer;
    display: inline-block;
}

[src="./images/add.png"]
{
    position: fixed;
    width: 50px;
    height: auto;
    right: 0;
    bottom: 0;
    background-color: #be302a;
    padding: 13px;
    border-radius: 50%;
    margin: 1.8vw 3vw;
    cursor: pointer;
}

@media only screen and (max-device-width: 600px) 
{
    /* img.[src="./images/add.png"]
    {
        height: 5vw;
        width: 5vw;
    } */

    [src="./images/logo.svg"]
    {
        width: 9vw;
        height: 9vw;
    }

    [src="./images/add.png"]
    {
        width: 9vw;
        margin-bottom: 5vw;
        margin-right: 4vw;
    }

    nav
    {
        margin-top: 3vw;
    }

    nav .menu p, nav .menu::after
    {
        font-size: 3.2vw;
    }

    div.small
    {
        margin-top: 4vw;
        margin-left: 4vw;
    }

    div.big
    {
        transform: translate(-7vw, -4vw);
    }

    .headline
    {
        font-size: 2.5rem;
        margin-top: 10vw;
    }

    .pro{
        font-size: 8rem;
    }

    .dd
    {
        bottom: 0;
        left: 8vw;
    }

    .ddp
    {
        height: 70px;
        font-size: 2.5vw;
    }
}